<div class="col-xs-12 col-sm-6">
    <div class="form-group">
        <label for="filter">Search:</label>
        <input type="text" class="form-control" placeholder="Filter Pending Journal" ng-model="mypendingfilter">
        <input type="text" class="form-control" placeholder="Filter Project" ng-model="myprojectfilter">
        <span ng-repeat = 'project in projectNames | orderBy: "project"'><a ng-click = 'selectFilter(project);' href="">{{project}} </a></span>
        <br><br>
        <button class='btn btn-info' ng-init = 'showCalendar = false;' ng-click='showCalendar = !showCalendar;'>Toggle Calendar</button>
    </div>
    <h1>Pending</h1>
    <h3></h3>
    <div ng-repeat='bullet in userData | filter: {complete : true} | filter: {description : mypendingfilter} | filter: {project : myprojectfilter} | orderBy : "timeCompleted"'>
        <div class="row">
           <div class = 'col-xs-3 remove-padding'>
             <div class="input-group">
              <span class="input-group-addon">
                <input type="checkbox" aria-label="..." ng-model = 'bullet.complete' ng-change = 'bullet.newTimeStamp(); saveBullet(bullet)'>
                </span>
               <input type="text" class = 'form-control' aria-label="..." ng-model='bullet.project' ng-change='saveBullet(bullet)' id = 'remove-right-border-radius'>
               </div>
           </div>
            <div class = "col-xs-9 remove-padding">
               <div class="input-group">
                <input type="text" class="form-control" aria-label="..." ng-model='bullet.description' ng-change='saveBullet(bullet)' id = 'remove-left-border-radius'>
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span ng-show = 'loaded'>{{(clock - bullet.timeCompleted)/1000/60/60 | number:1}}</span><span class="caret"></span></button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li ng-click='bullet.priorityEdit(1); saveBullet(bullet)'><a>Due Today</a></li>
                        <li ng-click='bullet.priorityEdit(2); saveBullet(bullet)'><a>Errands</a></li>
                        <li ng-click='bullet.priorityEdit(3); saveBullet(bullet)'><a>Brainstorm</a></li>
                        <li role="separator" class="divider"></li>
                        <li ng-click='bullet.newTimeStamp(); saveBullet(bullet)'><a>Reset Timer</a></li>
                        <li role="separator" class="divider"></li>
                        <li ng-click='archiveBullet(bullet)'><a>Archive</a></li>
                        <li ng-click='deleteBullet(bullet)'><a>Delete</a></li>
                    </ul>
                </div>
                </div>
            </div>
            </div>
    </div>
</div>
<div class="col-xs-12 col-sm-6" ng-show = 'showCalendar'>
  <h1>Calendar</h1>
   <button class = 'btn btn-success' ng-click = 'makeWider()'>Wider</button>
   <button class = 'btn btn-danger' ng-click = 'makeThinner()'>Thinner</button>
   <button class = 'btn btn-success' ng-click = 'makeTaller()'>Taller</button>
   <button class = 'btn btn-danger' ng-click = 'makeShorter()'>Shorter</button>
    <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showTz=0&amp;height=450&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=en.usa%23holiday%40group.v.calendar.google.com&amp;color=%238D6F47&amp;src=ib0uohng610pf98qrlrrg3q7tk%40group.calendar.google.com&amp;color=%2342104A&amp;src=bb947vogq00oebb0rrthkmke48%40group.calendar.google.com&amp;color=%23182C57&amp;ctz=America%2FChicago" style="border-width:0" width={{width}} height={{height}} frameborder="0" scrolling="no"></iframe>
</div>